@import "tailwindcss";

/* Base reset to make it look clean with PrimeVue */
@layer base {
  body {
      margin: 0;
      padding: 0;
      background-color: var(--color-slate-50); 
      font-family: var(--font-family, Inter, sans-serif);
  }
}

html[dir="rtl"] .rtl-flip {
  transform: rotate(180deg);
}